<h1 class="headline">ようこそ Bookers へ！</h1>
<div class="contents-area-only">
    <p class="contents-text"><b>Bookers</b>では、さまざまな書籍に関するあなたの意見や</br>
    印象を共有し交換することができます</p>
    <a class="link-button" href="/books">start</a>
</div>